{
    auto_https off
    admin :2019 {
        origins 0.0.0.0
        enforce_origin
    }
}


:80 {

   @hello host hello.{$UCI_HTTP_DOMAIN}
   handle @hello {
       respond "hello world!1"
   }


  @messaging host messaging.{$UCI_HTTP_DOMAIN}
  handle @messaging {
      reverse_proxy uci-messaging-server:8080
  }


   @static host static.{$UCI_HTTP_DOMAIN}
   handle @static {
       respond "hello world!2"
   }
}